.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #f6f9fa;
}
* {
  font-family: "Poppins", sans-serif; /* Apply Poppins font globally */
}

.feature-custom-carousel .swiper.swiper-initialized.swiper-horizontal {
  height: 576px;
}

.feature-custom-carousel .swiper-pagination-bullet {
  width: 30px;
  height: 3px;
  display: inline-block;
  border-radius: 2px;
  background: white;
  opacity: 0.2;
}
.feature-custom-carousel
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.client-custom-carousel .swiper-pagination-bullet {
  width: 30px;
  height: 3px;
  display: inline-block;
  border-radius: 2px;
  background: #256f77;
  opacity: 0.2;
}

.client-custom-carousel
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.client-custom-carousel .swiper-pagination {
}

.client-custom-carousel .swiper.swiper-initialized.swiper-horizontal {
  height: 426px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}
